.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /*backface-visibility는 요소의 뒷쪽에서 앞면이 보이게 할지 정하는 속성입니다.*/
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /*span은 기본이 inline이라서 줄바꿈해주기 위해서 block*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /*글자 사이 간격*/
    letter-spacing: 3.5rem;

    /*왼쪽에서 이동하는 애니메이션 설정*/
    animation-name: moveInLeft;
    animation-duration: 3s;

    @include respond(phone) {
      // width < 600?
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /*오른쪽에서 이동하는 애니메이션 설정*/
    animation-name: moveInRight;
    animation-duration: 3s;

    @include respond(phone) {
      // width < 600?
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  // HTML 요소는 박스(box)로 이루어져 있습니다.
  // 배경 이미지나 배경색을 그 박스 중 어디에 넣을 지 정하는 속성이 background-clip입니다.
  -webkit-background-clip: text;
  // color를 투명하게. 원래 글자 색이 안보이면서 위에서 지정한 배경색상이 보임.
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    // width < 600?
    font-size: 3rem;
  }

  @include respond(phone) {
    // width < 600?
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
